
<div class = "container-fluid">

    <div class="row">
        <div class="col-2">
            <ul class="navbar-nav">
                <a class="nav-link link-dark" aria-current="page" href="#" >
                  <img src="//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png" srcset="//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png 1x, //ssl.gstatic.com/images/branding/product/2x/drive_2020q4_48dp.png 2x " alt="" aria-hidden="true" class="gb_tc gb_6d" style="width: 43px; height: 43px;">
                  Drive
                </a> 
              </ul>
        </div>
        <div class="col-6">
            <app-search-bar></app-search-bar>
        </div>
        <div class="col-4">
            <app-top-nav-menu-items></app-top-nav-menu-items>
        </div>

    </div>
</div>