.nav-item .nav-link.active{
    background-color: gray;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}


