

  <!-- <nav class="navbar fixed-top navbar-expand-sm bg-white navbar-light">
   <div class = "container-fluid">
    
    <ul class="navbar-nav">
          <a class="nav-link" aria-current="page" href="#" >
            <img src="//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png" srcset="//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png 1x, //ssl.gstatic.com/images/branding/product/2x/drive_2020q4_48dp.png 2x " alt="" aria-hidden="true" class="gb_tc gb_6d" style="width: 43px; height: 43px;">
            Drive
          </a> 
        </ul>

        
        <app-search-bar></app-search-bar> 
   
      <app-top-nav-menu-items></app-top-nav-menu-items>
  </div>

  <hr>
  </nav>
  

   -->


  

  

  