
<p *ngIf = "cardInfo == undefined"> Failed fetching priority info</p>
<div *ngIf = "cardInfo != undefined">
    <div class = "container-fluid">
        <div class =  "d-flex flex-row">
            <div *ngFor= "let card of cardInfo">
                {{card.imagePath}}
                {{card.title}}
                {{card.icon}}
                {{card.lastOpened}}
                <!-- <app-priority-cards imagePath={{card.imagePath}} title={{card.title}} lastOpened={{card.lastOpened}} icon={{card.icon}}><app-priority-cards> -->

            </div>
        </div>
    </div>
</div>
