
    <div class="col">
      <div class="card m-2 p-3" style = "width: 15rem;">
        <img src="https://static01.nyt.com/images/2018/11/15/business/15STATE/merlin_146793567_f259dffd-89e1-4195-9b88-37957df4ba25-videoSixteenByNineJumbo1600.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alec Lienhard</h5>
          <p class="card-text">This is my attempt at re-creating Google Drive, the plan is to make it look better over time...</p>
        </div>
      </div>
    
  