
<div class = "container">
  <div class = "d-flex flex-row mt-3">
      <div class="card" style="width: 25rem; background-color: white;">
          
          <div class="card-body">
            <h5 class="card-title text-start">
              <img src="https://lh3.googleusercontent.com/fife/AAWUweW35ia4QP4kZaQvrAAaYPzUUKBSTCZjksJMp77FIeoGEt4hNrqf7hk2wpgTHri-uiMlGsXLWcYfp7XfgFKlan5SHRtgqo9Wnbh-j2dyoydUrKovG2utu0nI3UOPmOZl1paR7_YKMEDH8tsHz2jG54r7cOe4u5qMo4zdgPp0ZZ4fpOkopbbrFDVt2GtSaaVdFsyr3hXcrc9MGi6TZ08FuaahDPOhCxZf0lsbCv0cvpQYOk1DqeWwkW4KO3MGZyhPomNTco6kGpDVri17NyAwp3y4cpsbhU43BJrat4o_oNGGf_a7gOIKD-nmVmgNnFDTQTNuO8ep2byG2s9YDyFj-fu0urpn1Tob5fd1j1XiZXCdo3yL7umb08CVv944Dtelo1trF3Z-EgROzFILis9pEjWwdIIyDIFvAUMIQGO-lsFB7ennuWOKfOYxa0Ahgs0anNVU3dtlaLrmE-GBUwB-3QJFw01u5atTFQUK0jhkzInO4-qiESPXWy2oFZnnO3KPx4x8ty2wmrqyDKvbeyyNfGfywlmpGP6EtR3MG7qvHarZyYlubNh6hjLeF7Jxqn4kUFBsLNmE9NG0eeXTHR5pxegXh-dONQHSoVBqIa50Z_zfKV6SqiKkr-qNmIeiAeOidS_F6Id-eUyzkoqO83eS0pMX3tht_cHipr6E6ZYgv0FGqKJxLN2CyFZl8cseOciML8siCyH8_cog-USPjFhqY1lCm2zFfBNKMYGwG4C29-oi4w=s64-c" alt="" width="38" height="38" class="rounded-circle me-2">

              Card title</h5>
          </div>
            <ul class="list-group list-group-flush text-start" >
              <li class="list-group-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
                An item</li>
              <li class="list-group-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
                A second item</li>
              <li class="list-group-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
                A third item</li>
            </ul>
          
        </div>
  </div>
</div>