<div class = "container-fluid">
   <div class="d-flex flex-row mt-3">   
    
     
         <app-priority-cards>Loading Cards</app-priority-cards>
         <app-priority-cards>Loading Cards</app-priority-cards>
         <app-priority-cards>Loading Cards</app-priority-cards>
         <app-priority-cards>Loading Cards</app-priority-cards>
         <app-priority-cards>Loading Cards</app-priority-cards>

         
     
         
   </div>
   <div class = "flex-column col mt-3">
      <app-list>Loading List</app-list>
      <app-list>Loading List</app-list>
      <app-list>Loading List</app-list>
      <app-list>Loading List</app-list>
      <app-list>Loading List</app-list>
      <app-list>Loading List</app-list>
   </div>
  
</div>