<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form #postForm="ngForm" (ngSubmit)="onCreateFolder(postForm.value)">
                    <div class="input-group">
                        <span class="input-group-text">Create New Folder?</span>
                        <input type="text" class="form-control" ngModel name="Name">
                        <p>Modal body text goes here.</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
            
                </form>
            </div>
        </div>
    </div>
</div>