<p *ngIf="myInfo == undefined">Failed fetching User Info from Server</p>
<div *ngIf="myInfo != undefined">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}

            </div>
            <div class="flex-column">
                email:{{myInfo.mix_id}}
            </div>
            <div class="flex-column">
                <a href = GitHub:{{myInfo.GitHub}}>{{myInfo.GitHub}}</a>

            </div>
        </div>

    </div>
</div>