<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <app-side-nav-bar></app-side-nav-bar>
        </div>
            <div class="col-7">
                <app-top-nav-bar>Loading</app-top-nav-bar>
            </div>
                <div class="col-1">
                    <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
                        <app-right-nav-bar></app-right-nav-bar>
                </div>
            </div>
            
        
    </div>
</div>